body{

    background-image: url(Sanstitre.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div h1 f{
    font-size:150%;
}
div h1{
margin: 20%;
}

div #preview{
    margin-top: 6%;
    background-color: black;
    max-width: 82.1%;
    min-width: 82.1%;
    aspect-ratio: 16/16;
}

div button{
    margin-top: 7.5%;
    width: 50%;
    color: brown;
    background-color: white;
    padding: 5%;
    border-bottom: 20%;
    border-radius: 50px;
    font-size: 150%;
}